version: "3"
services:
  master:
    image: tenentedan9/spark-cluster:latest
    hostname: master
    networks:
      - core
    environment:
      - constraint:role==master
    ports:
      - 4040:4040
      - 6066:6066
      - 7077:7077
      - 8088:8088
      - 8020:8020
      - 8080:8080
      - 8888:8888
      - 50010:50010
      - 50020:50020
      - 50070:50070
      - 50075:50075
      - 50090:50090
      - 19888:19888
      - 8030:8030
      - 8031:8031
      - 8032:8032
      - 8033:8033
      - 8040:8040
      - 8042:8042
      - 49707:49707
      - 2122:2122
    volumes: 
      - /home/daniel/Desktop/MSD:/home/data
      - ./code:/home/code
  worker:
    image: tenentedan9/spark-cluster:latest
    hostname: worker
    networks:
      - core
    depends_on:
      - master
    ports:
      - 8081:8081
    environment:
      - constraint:role!=master
networks:
  core:
    external: true
